body {
    overflow: hidden;
}

#loading-mask {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: #222;
    color: #eee;
    pointer-events: none;
    opacity: 1;

    .information {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: flex;
        flex-direction: column;

        h6 {
            align-self: end;
        }

        .loading-information {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

#loading-mask.fadeout {
    opacity: 0;
    transition: opacity 1s;
}

#viewport-container {
    width: 100%;
    height: 100vh;
}

.invoker-abilities {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    margin-bottom: 1vh;
}

.invoker-ability {
    width: 64px;
    height: 64px;
    padding: 2px;
    border-radius: 2px;
    margin: 8px;
    background-color: #222;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 64px 64px;
}

.invoker-ability:hover,
.invoker-ability.active {
    box-shadow: 0 0 4px 4px #999;
}

@media screen and (max-width: 1400px) {
    .invoker-ability {
        width: 54px;
        height: 54px;
        margin: 6px;
        background-size: 54px 54px;
    }

    .invoker-ability:hover,
    .invoker-ability.active {
        box-shadow: 0 0 2px 2px #999;
    }
}

@media screen and (max-width: 1024px) {
    .invoker-ability {
        width: 52px;
        height: 52px;
        background-size: 52px 52px;
    }
}

@media screen and (max-width: 768px) {
    .invoker-ability {
        width: 48px;
        height: 48px;
        margin: 4px;
        background-size: 48px 48px;
    }

    .invoker-ability:hover,
    .invoker-ability.active {
        box-shadow: 0 0 1px 1px #999;
    }
}

@media screen and (max-width: 512px) {
    .invoker-ability {
        width: 42px;
        height: 42px;
        background-size: 42px 42px;
    }
}

.target-abilities {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    top: 8px;
    margin-top: 1vh;

    .invoker-ability.active {
        filter: none;
    }

    .invoker-ability {
        box-shadow: none;
        filter: saturate(0) brightness(0.6);
    }
}
