body {
    overflow: hidden;
}

#loading-mask {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: #000;
    color: #aaa;
    pointer-events: none;
    opacity: 1;

    .information {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: flex;
        flex-direction: column;

        h6 {
            align-self: end;
        }

        .loading-information {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

#loading-mask.fadeout {
    opacity: 0;
    transition: opacity 1s;
}

#viewport-container {
    width: 100%;
    height: 100vh;

    #sign {
        user-select: none;
        font-size: 0.8rem;
        position: absolute;
        right: 1vh;
        bottom: 1vh;
        color: #fff;

        a {
            color: #aaa;
        }
    }
}

#invoker-abilities-guide-button {
    width: 1.5rem;
    padding-left: 10px;
    padding-top: 10px;

    position: absolute;
    left: 10px;
    top: 10px;
}

#invoker-abilities-guide-button:hover {
    cursor: pointer;
}

#invoker-abilities-guide {
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    height: 100vh;
    left: 0;
    top: 0;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateX(-100%);
    transition: transform 0.5s;

    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;

    .invoker-ability {
        margin: 10px 5px;
        border-radius: 50%;
        transform: scale(0.8);
    }

    .invoker-ability:nth-child(4n) {
        margin-left: 10px;
        transform: scale(0.86);
    }
}

#invoker-abilities-guide.open {
    transform: translateX(0%);
}

.invoker-ability {
    width: 64px;
    height: 64px;
    padding: 2px;
    border-radius: 2px;
    margin: 8px;
    background-color: #333;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

.invoker-abilities {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1vh;

    .invoker-ability:hover,
    .invoker-ability.active {
        box-shadow: 0 0 4px 4px #999;
    }
}

.target-abilities {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    top: 1vh;

    .invoker-ability.active {
        filter: none;
        box-shadow: 0 0 2px 2px #999;
    }

    .invoker-ability {
        filter: saturate(0) brightness(0.6);
    }
}

@media screen and (max-width: 1400px) {
    .invoker-ability {
        width: 54px;
        height: 54px;
        margin: 6px;
    }

    .invoker-abilities {
        .invoker-ability:hover,
        .invoker-ability.active {
            box-shadow: 0 0 2px 2px #999;
        }
    }
}

@media screen and (max-width: 1024px) {
    #viewport-container {
        #sign {
            font-size: 0.6rem;
            bottom: unset;
            top: 10vh;
        }
    }

    .invoker-ability {
        width: 52px;
        height: 52px;
    }
}

@media screen and (max-width: 768px) {
    .invoker-ability {
        width: 48px;
        height: 48px;
        margin: 4px;
    }

    .invoker-abilities {
        .invoker-ability:hover,
        .invoker-ability.active {
            box-shadow: 0 0 1px 1px #999;
        }
    }
}

@media screen and (max-width: 512px) {
    .invoker-ability {
        width: 42px;
        height: 42px;
    }
}
